h1{ 
      font-size: 60px;
      text-align: center;
      background-color: black;
      color: white;
      border-radius: 10%;
}

body{  
      font-size: 40px;
      background-color: darkorange;  
      margin: 50px;    

    }

section {
      background-color: black;
      text-align: center;
      color: white;
      padding: 50px;
      width: 1500px;
      border-radius: 20px;
}

input {     
      font-size: 40px;
      width: 500px;
      height: 40px;
}

footer {
      color: black;
      background-color: white;
      text-align: center;
      margin-top: 15px;
}